/*
p {
	color: green;
}
*/

a[href^="https://"] {
	color: red;
}

ul.list > li:last-child {
	background-color: green;
}

div.holder > ul.list + p {
	font-size: 26px;
}

div.text-box > h3:first-child {
	color: pink;
}

p#greycol {
	color: grey;
}

div > p:first-child {
	color: red;
}

div.text-box > p:nth-last-child(2) {
	color: green;
}

p.yellow {
	color: yellow;
}
